.footer-wrap {
  width: 100%;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  height: 15rem;
  background-color: #660099;
}

.title {
  font-size: 2rem;
  margin-bottom: 15px;
  color: white;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.consultorButton {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #af1c58;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.consultorButton:hover {
  background-color: #0000cc;
}

.footerContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.imageContainer {
  margin-bottom: 20px;
}

.footerImage {
  max-width: 100%;
  height: auto;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.button {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #0000ff;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

.socialContainer {
  display: flex;
  gap: 20px;
}

.socialIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcon img {
  width: 30px;
  height: 30px;
}

.footerContainer3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  max-width: 150px;
  height: auto;
}